/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    background-color: #5fc79c;
    box-shadow:#a1a1a1 ;
    text-shadow:#a1a1a1 ;
    font-size:x-large;
    font-family: Arial;
    border-radius: 4px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    font-size:x-large;
    color: white;
    font-family: Arial;
    width: 50px;
    height: 25px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #000000;
    border-radius: 4px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(0, 0, 0);
    font-size:x-large;
    font-family: Arial;
    filter: brightness(50%);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    font-size:x-large;
    font-family: Arial;
    background-color: #000000;
    box-shadow:#a1a1a1 ;
    text-shadow:#a1a1a1 ;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-family: Arial;
    font-size:x-large;
    box-shadow:#a1a1a1 ;
    text-shadow:#a1a1a1 ;
    border-radius: 4px;
  }
  .tablinks{
    font-size:x-large;
    font-family: Arial;
    border-radius: 4px;

  }
  #dietSelect{
    font-size:x-large;
    font-family: Arial;  
  }
  .block{
    font-size:x-large;
    font-family: Arial;
    width: 300px;
    height: 150px;
    background-color: rgb(92, 92, 92);
    text-shadow: 4px 4px 5px rgb(92, 92, 92);  
    box-shadow: 2px 2px 2px rgb(92, 92, 92) ; 
 
      
  }
  html{
    background-color: #5fc79c;
      
  }
  h1{
    font-family: Arial;
    font-size:xx-large;
    text-shadow: 4px 4px 5px rgb(92, 92, 92);
  }
  h3{
    text-shadow: 4px 4px 5px rgb(92, 92, 92);
  }
  #choose{
    text-shadow: 4px 4px 5px rgb(92, 92, 92);
  }
  #chooseCat{
    text-shadow: 4px 4px 5px rgb(92, 92, 92); 
  }
  #HereCart{
    text-shadow: 4px 4px 5px rgb(92, 92, 92);   
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown-content {
    display: none;
    font-family: Arial;
    position: absolute;
    background-color: #5fc79c;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    filter: brightness(50%);
  }
  .dropdown .dropbtn {
    font-size: 16px;
    font-family: Arial;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;

    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .dropdown {
    float: left;
    font-family: Arial;
    overflow: hidden;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }  
  .show {
    display: block;
  }
  
      
  