/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    background-image: linear-gradient(rgb(252, 80, 80), rgb(255, 255, 255));
    background-color: #a1a1a1;
    box-shadow:#a1a1a1 ;
    text-shadow:#a1a1a1 ;
    font-size:x-large;
    font-family: Arial;
    border-radius: 4px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    font-size:x-large;
    font-family: Arial;
    width: 100px;
    height: 50px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #a1a1a1;
    border-radius: 4px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    font-size:x-large;
    font-family: Arial;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    font-size:x-large;
    font-family: Arial;
    background-color: #a1a1a1;
    box-shadow:#a1a1a1 ;
    text-shadow:#a1a1a1 ;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-family: Arial;
    font-size:x-large;
    box-shadow:#a1a1a1 ;
    text-shadow:#a1a1a1 ;
    border-radius: 4px;
  }
  .tablinks{
    font-size:x-large;
    font-family: Arial;
    border-radius: 4px;

  }
  #dietSelect{
    font-size:x-large;
    font-family: Arial;  
  }
  .block{
    font-size:x-large;
    font-family: Arial;
    width: 300px;
    height: 150px;
    background-color: darkgrey;
    text-shadow: 4px 4px 5px darkgrey;  
    box-shadow: 2px 2px 2px darkgrey ; 
 
      
  }
  html{
      background-color: rgb(231, 75, 75);
      
  }
  h1{
    font-family: Arial;
    font-size:xx-large;
    text-shadow: 4px 4px 5px #e42e2e;
  }
  h3{
    text-shadow: 4px 4px 5px #e42e2e;
  }
  #choose{
    text-shadow: 4px 4px 5px #e42e2e;
  }
  #chooseCat{
    text-shadow: 4px 4px 5px #e42e2e;   
  }
  #HereCart{
    text-shadow: 4px 4px 5px #e42e2e;     
  }
  
      
  